 body {margin-left: 10%; margin-right: 10%; margin-top: 3%; margin-bottom: 3%; background-color: #F4FDFA}
            h1 {font-family: vestula; color: #707070; font-size:40px}
            h2 {font-family: vestula; color: #707070; font-size:28px}
            p {font-family: calibri; color: #909090}
            h3 {font-family: vestula; color: #707070}
            li {font-family: calibri; color: #707070}
            td {font-family: calibri; color: #707070}   
/* new links */
a { color: #606060; text-decoration: none; }
/* visited links */
a:visited { color: #BEBEBE; text-decoration: none;}
/* mouse-over */
a:hover { color: #8DB3A0; text-decoration: underline;}
/* active links*/
a:active { color: #8DB3A0; text-decoration: underline ;} 
